<div class="page_main col-md-12">
  <div class="page_main_inner">
    <div class="single_project activity" projects="projects">
      <div class="activity_group">
        <div class="activity_group_label">4 Fév. 2016</div>
        <div class="activity_subgroup odd">
          <a class="activity_subgroup_label" href="projects/1">OremiaMobile</a>
          <table>
            <tbody>
              <tr class="object_created File">
                <td class="col_time">09:41</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main">robin-delaporte a téléversé le fichier <a href="projects/1/files/1" title="Evenements.mcd">Evenements.mcd</a> (147B)</div>
                  <div class="activity_log_details break_long_lines">
                    <a href="projects/1/files/1"><img src="https://app.activecollab.com/118937/proxy.php?proxy=forward_thumbnail&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;context=upload&amp;name=2016-02%2FO7zpDsGVne3fRU9WTjOrke4Xfxi41wDKhKBl5QE4&amp;original_file_name=Evenements.mcd&amp;width=120&amp;height=120&amp;ver=147&amp;scale=crop"></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="activity_group">
        <div class="activity_group_label">2 Fév. 2016</div>
        <div class="activity_subgroup even">
          <a class="activity_subgroup_label" ng-href="projects/1" href="projects/1">OremiaMobile</a>
          <table>
            <tbody>
              <tr class="object_reopened Task">
                <td class="col_time">11:56</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-2-1">robin-delaporte a réouvert le ticket <a href="projects/1/tasks/2" title="test">test</a></div>
                </td>
              </tr>
              <tr class="object_completed Task">
                <td class="col_time">11:56</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-2-1">robin-delaporte a fermé le Ticket<a href="projects/1/tasks/2" title="test">✔test</a></div>
                </td>
              </tr>
              <tr class="object_reopened Task">
                <td class="col_time">11:56</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar" user-id="1" name="false" avatar="true">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-2-1">robin-delaporte a réouvert le Ticket <a href="projects/1/tasks/2" title="test">test</a></div>
                </td>
              </tr>
              <tr class="object_completed Task">
                <td class="col_time">11:56 </td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-2-1">robin-delaporte a fermé le Ticket <a href="projects/1/tasks/2" title="test">✔test</a></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- ngRepeat: subgrouped_logs in grouped_logs track by subgrouped_logs.id -->
      <div class="activity_group">
        <div class="activity_group_label">22 Ja. 2016</div>
        <div class="activity_subgroup even">
          <a class="activity_subgroup_label" ng-href="projects/1" href="projects/1">OremiaMobile</a>
          <table>
            <tbody>
              <tr class="object_created Discussion">
                <td class="col_time">11:25</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Discussion-1-1">robin-delaporte a ouvert la discussion <a href="projects/1/discussions/1" title="Problème sur le rss">Problème sur le rss</a></div>
                </td>
              </tr>
              <tr class="object_due_date_set Task">
                <td class="col_time">11:24 </td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-1-1">robin-delaporte a règlé la dead line du Ticket <a href="projects/1/tasks/1" title="Production">Production</a> au <u>29 Jan. 2016</u></div>
                </td>
              </tr>
              <tr class="object_completed Task">
                <td class="col_time">11:24</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-1-1">robin-delaporte a fermé le Ticket<a href="projects/1/tasks/1" title="Production">✔Production</a></div>
                </td>
              </tr>
              <tr class="object_created Task">
                <td class="col_time">11:24 </td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="Task-1-1">robin-delaporte a créé le Ticket <a href="projects/1/tasks/1" title="Production">Production</a></div>
                </td>
              </tr>
              <tr class="object_created TaskList">
                <td class="col_time">11:20</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="">robin-delaportea créé la liste de Tickets <a href="projects/1" title="Inbox">Inbox</a></div>
                </td>
              </tr>
              <tr class="object_created Project">
                <td class="col_time">11:20</td>
                <td class="col_avatar">
                  <a href="users/1" class="user user_with_avatar">
                    <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                  </a>
                </td>
                <td class="col_details">
                  <div class="activity_log_main" object-modal="">robin-delaporte a créé le projet <a href="projects/1" title="OremiaMobile">OremiaMobile</a></div>
                  <div class="activity_log_details break_long_lines">
                    <div class="card">
                      <a class="card_main" href="projects/1">
                        <div class="card_header">
                          <h2>OremiaMobile</h2>
                          <p>par robindelaporte</p>
                        </div>
                        <div class="card_footer">
                          <div class="card_footer_inner"><span class="item_label" style="background-color: null"><span class="undefined">OREMIA MOBILE</span></span>
                            <p>Actif<span>Il y a 2 heures</span></p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
