<section class="panel col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" >
                              <header class="panel-heading">
                                  Se connecter
                              </header>
                              <div class="panel-body">
                                  <form class="form-horizontal ng-pristine ng-valid" role="form" action="index.html">
                                      <div class="form-group">
                                          <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Email</label>
                                          <div class="col-lg-10">
                                              <input type="text" class="form-control" id="inputEmail1" placeholder="Email">
                                              <p class="help-block">Entrez votre adresse e-mail pour vous connecter.</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">mot de passe</label>
                                          <div class="col-lg-10">
                                              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <div class="checkbox">
                                                  <label>
                                                      <input type="checkbox"> Se souvenir de moi
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button type="submit" class="btn btn-default">Se connecter</button>
                                              <a  class="btn btn-danger" href="#/creerCompte">S'enregistrer</a>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </section>
