<div class="modal_window ng-scope">
  <div class="modal_window_overlay"></div>
  <div class="modal_window_close"><a href="#/projects/1/discussion"><span class="icon_delete_white" >
</span></a></div>
  <div class="modal_window_inner">
    <div class="modal_content_wrapper">
      <div class="page_object page" id="project_discussion" page-object="discussion" page-title="Problème sur le rss" main-section="projects" sub-section="discussions">
        <div class="page_inner">
          <div id="back_button" class="page_block" url="projects/1/discussions" title="OremiaMobile Discussions">
            <div class="page_block_inner">
              <a href="#/projects/1/discussion" class="small button">↩ OremiaMobile Discussions</a>
            </div>
          </div>
          <div id="discussion_form" class="slim_form narrow page">
          </div>
          <div class="object_view page_main">
            <div class="page_main_inner">
              <div class="object_view_main">
                <div class="discussion_main project_object">
                  <ul class="project_object_actions button_group">
                    <li><a href="projects/1/discussions/1/edit" class="button small">Modifier la discussion</a></li>
                    <li>
                      <a  class="icon icon_trash_can_black size_14 button small"></a>
                    </li>
                    <li>
                      <span class="small object_actions_dropdown" object="discussion">
  <span class="dropdown_button position_bottom" icon="icon_options_dropdown_black">
  <button id="_button" type="button"><span class="icon icon_options_dropdown_black"></span>
                      <span class="name"></span>
                      </button>
                      <div class="menu menu_right">
                        <span class="button_arrow"></span>
                        <div class="menu_inner">
                          <ul class="menu_list">
                            <li>
                              <a href="">Convert to Task</a>
                            </li>
                            <li>
                              <a href="">Move / Copy to Project</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      </span>
                      </span>
                    </li>
                  </ul>
                  <div class="project_object_location"><a ng-href="#/projects/1" href="projects/1">OremiaMobile</a> Ouvert par
                    <a href="users/1" class="user" user-id="1" short="false">
                      <span class="user_name">robin-delaporte</span>
                    </a> le 22 Jan. 2016</div>
                  <h1>Problème sur le rss</h1>
                  <div class="rich_text" body="discussion.body_formatted" parent="discussion">thjetetrhjrty etyjhe etyjhe tyjhe yth</div>
                </div>
                <div class="page_section attachments ng-hide" parent="discussion">
                  <h2>Attachments</h2>
                  <ul>
                  </ul>
                </div>
                <div>
                  <div class="page_section object_comments" project="project">
                    <h2>Discussion</h2>
                    <form method="post" class="object_comments_form ng-pristine ang_form ng-invalid ng-invalid-required ng-valid" id="new_comment_form" name="new_comment_form">
                      <a href="users/1" class="object_comments_form_avatar user user_with_avatar">
                        <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=80&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=80&amp;timestamp=1454629344"></span>
                      </a>
                      <div class="object_comments_real_controls form_field_validation">
                        <div class="object_comments_form_wrapper">
                          <div class="visual_editor_tinymce_wrapper ng-invalid ng-invalid-required ng-pristine" placeholder="Write a comment..." focus-on="true" required="required">
                            <div class="visual_editor_tinymce_toggler">A</div>
                            <div id="tinymce_5eu5yyqdbp96yldi_toolbar" class="visual_editor_tinymce_toolbar visual_editor_tinymce_toolbar_hidden">
                              <div id="mceu_27" class="mce-tinymce mce-tinymce-inline mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="border-width: 1px; left: 0px; top: 0px; width: 357px; height: 30px; display: none;">
                                <div id="mceu_27-body" class="mce-container-body mce-abs-layout" style="width: 357px; height: 30px;">
                                  <div id="mceu_27-absend" class="mce-abs-end"></div>
                                  <div id="mceu_28" class="mce-toolbar-grp mce-container mce-panel mce-abs-layout-item mce-first mce-last" hidefocus="1" tabindex="-1" role="group" style="left: 0px; top: 0px; width: 357px; height: 30px;">
                                    <div id="mceu_28-body" class="mce-container-body mce-stack-layout" style="width: 357px; height: 30px;">
                                      <div id="mceu_29" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                                        <div id="mceu_29-body" class="mce-container-body mce-flow-layout">
                                          <div id="mceu_30" class="mce-container mce-flow-layout-item mce-first mce-btn-group" role="group">
                                            <div id="mceu_30-body">
                                              <div id="mceu_17" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_17" role="button" aria-label="Bold" title="Bold">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button>
                                              </div>
                                              <div id="mceu_18" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_18" role="button" aria-label="Italic" title="Italic">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button>
                                              </div>
                                              <div id="mceu_19" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_19" role="button" aria-label="Underline" title="Underline">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-underline"></i></button>
                                              </div>
                                              <div id="mceu_20" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_20" role="button" aria-label="Strikethrough" title="Strikethrough">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-strikethrough"></i></button>
                                              </div>
                                            </div>
                                          </div>
                                          <div id="mceu_31" class="mce-container mce-flow-layout-item mce-btn-group" role="group">
                                            <div id="mceu_31-body">
                                              <div id="mceu_21" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_21" role="button" aria-label="Bullet list" title="Bullet list">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button>
                                              </div>
                                              <div id="mceu_22" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_22" role="button" aria-label="Numbered list" title="Numbered list">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-numlist"></i></button>
                                              </div>
                                            </div>
                                          </div>
                                          <div id="mceu_32" class="mce-container mce-flow-layout-item mce-btn-group" role="group">
                                            <div id="mceu_32-body">
                                              <div id="mceu_23" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_23" role="button" aria-label="Insert image" title="Insert image">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-image"></i></button>
                                              </div>
                                              <div id="mceu_24" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_24" role="button" aria-label="Insert/edit link" title="Insert/edit link">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button>
                                              </div>
                                            </div>
                                          </div>
                                          <div id="mceu_33" class="mce-container mce-flow-layout-item mce-last mce-btn-group" role="group">
                                            <div id="mceu_33-body">
                                              <div id="mceu_25" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_25" role="button" aria-label="Insert code" title="Insert code">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-code"></i></button>
                                              </div>
                                              <div id="mceu_26" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_26" role="button" aria-label="Quote" title="Quote">
                                                <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-quote"></i></button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="tinymce_5eu5yyqdbp96yldi" class="a51 visual_editor_tinymce mce-content-body" contenteditable="true" dir="ltr" style="position: relative;">
                              <br>
                            </div>
                            <input type="hidden" name="tinymce_5eu5yyqdbp96yldi" value="">
                          </div>

                          <div class="object_comments_attachments ang_drop_files" style="position: relative;">
                            <div class="select_attachments ng-valid">
                              <span class="ang_upload_wrapper"><div class="select_attachments_control select_attachments_control_empty"><a href="">Pièce jointe</a><span> (ou drag&amp;drop ici)</span></div>
                            <input type="file" class="ang_upload" value="" accept="">
                            </span>
                          </div>
                          <div class="ang_drop_files_placeholder">
                            <div class="ang_drop_files_message"><span class="icon icon_upload_black size_24"></span>Drop here to Upload</div>
                          </div>
                        </div>
                      </div>
                      <div class="object_comments_form_buttons">
                        <p class="note fvl_aid">@ mentionnez quelqu'un pour qu'il soit notifié</p>
                        <button class="small default">ajouter le commentaire</button>
                        <a class="small" href="#/projects/1/discussion">Annuler</a>
                      </div>
                  </div>
                  </form>
                  <div class="object_comments_container">
                  </div>
                  <div class="load_more_pagination ng-hide">
                    <a href="">Load older comments</a>
                  </div>
                </div>
              </div>
              <div class="page_section object_history" object="discussion" show-history-toggle="true">
                <a href="" class="less_important">
                  <span>Montrez l'historique des changements</span>
                </a>
              </div>
            </div>
            <div class="object_view_sidebar">
              <div class="page_section with_padding">
                <div class="object_subscribers_panel">
                  <a href="" class="toggle_subscribers_form">Choisir</a>
                  <h4>Souscriveurs</h4>
                  <div>
                    <ul class="user_list">
                      <li>
                        <a class="object_subscribers_panel_user" href="users/1"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344">robin-delaporte</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="page_section">
                <div class="object_view_checkboxes">
                  <label>
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid">Cacher cette conversation aux clients</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
