<div class="page_card page list_mode ng-scope" id="project_discussions" page-title="Tasks - OremiaMobile" main-section="projects" sub-section="tasks" page-object="project">
  <div class="page_inner">
    <div id="back_button" class="page_block" url="projects" title="Projects">
      <div class="page_block_inner">
        <a href="#/index" class="small button">↩ Projets</a>
      </div>
    </div>
    <div class="project_header" project="project" current-tab="tasks">
      <div class="page_block page_header">
        <div class="page_block_inner page_header_inner">
          <ul class="page_header_actions button_group">
            <li>
              <span class="small people_dropdown can_manage dropdown_button dropdown_button position_bottom">
                <a href="#/project/1/team"> <button id="_button" type="button"><span class="name">Cool-laborateurs (1)</span></a>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                  <div class="people_list">
                    <div class="menu_group">
                      <h4>Members</h4>
                      <ul>
                        <li>
                          <a><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454590487" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454590487">                            robin-delaporte
                            <span class="icon icon_project_leader_active"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              </span>
            </li>
            <li>
              <span class="small project_details dropdown_button position_bottom" button-title="Project Info">
                <a href="#/projets/ajouter"> <button id="_button" type="button"><span class="name">Info du projet</span></a>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                  <div id="project_info_contents" class="menu_group">
                    <dl class="project_info_list">
                      <dt>Created by</dt>
                      <dd>
                        <a href="users/1" class="user">
                          <span class="user_name">robin-delaporte</span>
                        </a>
                      </dd>
                      <dt>Created on</dt>
                      <dd>
                        <span>Jan 22. 2016</span>
                      </dd>
                      <dt>Client</dt>
                      <dd>
                        <span>
<a href="companies/1" class="company"><span class="company_name" title="robindelaporte">robindelaporte</span>
                        </a>
                        </span>
                      </dd>

                      <dt>Leader</dt>
                      <dd>
                        <a href="users/1" class="user">
                          <span class="user_name">robin-delaporte</span>
                        </a>
                      </dd>

                      <dt>Category</dt>
                      <dd>
                        <span>Mobile</span>
                      </dd>
                      <dt>Label</dt>
                      <dd>
                        <span class="item_label" style="background-color: rgb(64, 150, 219);"><span class="contrast_light">OREMIA MOBILE</span></span>
                      </dd>
                    </dl>
                  </div>
                  <div id="email_to_project" class="menu_group">
                    <h4>Project Email</h4>
                    <div id="email_to_project_email"><a href="mailto:notifications-118937+se96omgrj3@activecollab.com">notifications-118937+se96omgrj3@activecollab.com</a></div>
                    <p class="fvl_aid">Add tasks and other items via email.</p>
                  </div>
                </div>
              </div>
              </span>
            </li>
            <li><span class="small object_actions_dropdown">
  <span class="dropdown_button position_bottom" compact="false" icon="icon_options_dropdown_black">
  <button id="_button" type="button"><span class="icon icon_options_dropdown_black"></span>
              <span class="name"></span>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                </div>
              </div>
              </span>
              </span>
            </li>
          </ul>

          <h1>OremiaMobile</h1>
        </div>
      </div>

      <div class="page_tabs page_block">
        <div class="page_tabs_inner page_block_inner">
          <div id="project_top_bar">
            <ul class="page_tabs_tabs">
              <li>
                <a class="page_sidebar_menu_item page_tab_icon_tasks" ng-href="#/projects/1" href="#/projects/1">Tickets</a>
              </li>
              <li class="selected">
                <a class="page_sidebar_menu_item page_tab_icon_discussions" ng-href="#/projects/1/discussion" href="#/projects/1/discussion">Discussions</a>
              </li>
              <li>
                <a class="page_sidebar_menu_item page_tab_icon_files" ng-href="#/projects/1/fichier" href="#/projects/1/fichier">Fichiers</a>
              </li>
              <li class="">
                <a class="page_sidebar_menu_item page_tab_icon_activity" ng-href="#/projects/1/activite" href="#/projects/1/activite">Activité</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page_action_bar page_block">
      <div class="page_action_bar_inner page_block_inner">
        <div class="page_action_bar_left">
          <a ng-href="#/projects/1/discussions/add" class="button small default" href="projects/1/discussions/add">+ Ouvrir une discution</a>
        </div>
      </div>
    </div>
    <div class="page_main">
      <div class="page_main_inner" ng-transclude="">
        <div class="discussions">
          <div class="discussions_group">
            <table class="items_table">
              <thead>
                <tr>
                  <th colspan="4">Discussions récentes</th>
                </tr>
              </thead>
              <tbody>
                <tr touch-href="projects/1/discussions/1">
                  <td class="col_comment_count"><span class="comment_count icon icon_read_bubble">0</span></td>
                  <td class="col_main">
                    <div class="discussion_link"><a href="#/project/1/discussion/1">Problème sur le rss</a>
                    </div>
                  </td>
                  <td class="col_ago">Il y a 13 jours</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="load_more_pagination ng-hide">
            <a href="">Load older</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
