<div class="page_card page list_mode ng-scope" id="project_files" page-title="Tasks - OremiaMobile" main-section="projects" sub-section="tasks" page-object="project">
  <div class="page_inner">
    <div id="back_button" class="page_block" url="projects" title="Projects">
      <div class="page_block_inner">
        <a href="#/index" class="small button">↩ Projets</a>
      </div>
    </div>
    <div class="project_header" project="project" current-tab="tasks">
      <div class="page_block page_header">
        <div class="page_block_inner page_header_inner">
          <ul class="page_header_actions button_group">
            <li>
              <span class="small people_dropdown can_manage dropdown_button dropdown_button position_bottom">
                <a href="#/project/1/team"> <button id="_button" type="button"><span class="name">Cool-laborateurs (1)</span></a>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                  <div class="people_list">
                    <div class="menu_group">
                      <h4>Members</h4>
                      <ul>
                        <li>
                          <a><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454590487" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454590487">                            robin-delaporte
                            <span class="icon icon_project_leader_active"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              </span>
            </li>
            <li>
              <span class="small project_details dropdown_button position_bottom" button-title="Project Info">
                <a href="#/projets/ajouter"> <button id="_button" type="button"><span class="name">Info du projet</span></a>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                  <div id="project_info_contents" class="menu_group">
                    <dl class="project_info_list">
                      <dt>Created by</dt>
                      <dd>
                        <a href="users/1" class="user">
                          <span class="user_name">robin-delaporte</span>
                        </a>
                      </dd>

                      <dt>Created on</dt>
                      <dd>
                        <span>Jan 22. 2016</span>
                      </dd>

                      <dt>Client</dt>
                      <dd>
                        <span>
<a href="companies/1" class="company"><span class="company_name" title="robindelaporte">robindelaporte</span>
                        </a>
                        </span>
                      </dd>

                      <dt>Leader</dt>
                      <dd>
                        <a href="users/1" class="user">
                          <span class="user_name">robin-delaporte</span>
                        </a>
                      </dd>
                      <dt>Category</dt>
                      <dd>
                        <span>Mobile</span>
                      </dd>

                      <dt>Label</dt>
                      <dd>
                        <span class="item_label" style="background-color: rgb(64, 150, 219);"><span class="contrast_light">OREMIA MOBILE</span></span>
                      </dd>
                    </dl>
                  </div>
                  <div id="email_to_project" class="menu_group">
                    <h4>Project Email</h4>
                    <div id="email_to_project_email"><a href="mailto:notifications-118937+se96omgrj3@activecollab.com">notifications-118937+se96omgrj3@activecollab.com</a></div>
                    <p class="fvl_aid">Add tasks and other items via email.</p>
                  </div>
                </div>
              </div>
              </span>
            </li>
            <li><span class="small object_actions_dropdown">
  <span class="dropdown_button position_bottom" compact="false" icon="icon_options_dropdown_black">
  <button id="_button" type="button"><span class="icon icon_options_dropdown_black"></span>
              <span class="name"></span>
              </button>
              <div class="menu menu_right">
                <span class="button_arrow"></span>
                <div class="menu_inner">
                </div>
              </div>
              </span>
              </span>
            </li>
          </ul>
          <h1>OremiaMobile&gt;</h1>
        </div>
      </div>
      <div class="page_tabs page_block">
        <div class="page_tabs_inner page_block_inner">
          <div id="project_top_bar">
            <ul class="page_tabs_tabs">
              <li>
                <a class="page_sidebar_menu_item page_tab_icon_tasks" ng-href="#/projects/1" href="#/projects/1">Tickets</a>
              </li>
              <li>
                <a class="page_sidebar_menu_item page_tab_icon_discussions" ng-href="#/projects/1/discussion" href="#/projects/1/discussion">Discussions</a>
              </li>
              <li class="selected">
                <a class="page_sidebar_menu_item page_tab_icon_files" ng-href="#/projects/1/fichier" href="#/projects/1/fichier">Fichiers</a>
              </li>
              <li class="">
                <a class="page_sidebar_menu_item page_tab_icon_activity" ng-href="#/projects/1/activite" href="#/projects/1/activite">Activité</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page_action_bar page_block">
      <div class="page_action_bar_inner page_block_inner ang_drop_files" ang-drop-files="" style="position: relative;">
        <form class="files_upload page_action_bar_left ng-pristine ng-valid">
          <div class="select_attachments ng-valid">
            <span class="ang_upload_wrapper"><div class="select_attachments_control select_attachments_control_empty">
      <button class="default small">+ Téléverser un fichier</button>
    </div><input type="file" class="ang_upload" value="" accept=""></span>
          </div>

        </form>
        <div class="page_action_bar_right">
          <ul class="page_action_bar_display_modes ng-valid" page="project_files">
            <li>
              <a href="" class="selected">
                <span class="icon icon_grid_active size_16 active"></span>
                <span class="icon icon_grid_inactive size_16 inactive"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon icon_list_active size_16 active"></span>
                <span class="icon icon_list_inactive size_16 inactive"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ang_drop_files_placeholder">
          <div class="ang_drop_files_message"><span class="icon icon_upload_black size_24"></span>Drop here to Upload</div>
        </div>
      </div>
    </div>
    <div class="page_main">
      <div class="page_main_inner" ng-transclude="">
        <div>
          <div class="files_cards_wrapper">
            <div class="files_group">
              <h2>4 Fév. 2016</h2>
              <div class="files">
                <div class="file_wrapper">
                  <div class="file">
                    <div class="file_thumbnail"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=forward_thumbnail&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;context=upload&amp;name=2016-02%2FO7zpDsGVne3fRU9WTjOrke4Xfxi41wDKhKBl5QE4&amp;original_file_name=Evenements.mcd&amp;width=230&amp;height=230&amp;ver=147&amp;scale=crop" src="https://app.activecollab.com/118937/proxy.php?proxy=forward_thumbnail&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;context=upload&amp;name=2016-02%2FO7zpDsGVne3fRU9WTjOrke4Xfxi41wDKhKBl5QE4&amp;original_file_name=Evenements.mcd&amp;width=230&amp;height=230&amp;ver=147&amp;scale=crop"></div>
                    <ul class="file_details">
                      <li class="file_name">Evenements.mcd
                      </li>
                      <li class="file_user">par<a href="users/1" class="user" user-id="1">
                          <span class="user_name">robin-delaporte</span>
                        </a>le 4 Fév. 2016</li>
                    </ul>
                  </div>
                  <span class="small object_actions_dropdown" object="file">
  <span class="dropdown_button position_bottom" icon="icon_options_dropdown_black">
  <button id="_button" type="button"><span class="icon icon_options_dropdown_black"></span>
                  <span class="name"></span>
                  </button>
                  <div class="menu menu_right">
                    <span class="button_arrow"></span>
                    <div ng-transclude="" class="menu_inner">
                      <ul class="menu_list">
                        <li>
                          <a href="">Download</a>
                        </li>
                        <li>
                          <a href="">Hide from clients</a>
                        </li>
                      </ul>
                      <ul class="menu_list">
                        <li>
                          <a href="">Move to Trash</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="load_more_pagination ng-hide">
            <a href="">Load older</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
