<!-- Main content -->
<div class="page_block page_header_main">
  <div class="page_block_inner page_header_main_inner">
    <h1>Projets</h1>

    <p class="subtitle">Tous les projets sur lesquel vous travaillez</p>
  </div>
</div>
<div class="page_action_bar page_block">
  <div class="page_action_bar_inner page_block_inner" >
    <!-- ngIf: logged_user.canCreateProject() -->
    <div class="page_action_bar_left" >
      <a class="button small default" href="#/projets/ajouter">+ Commencer un nouveau projet</a>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom:5px;">
  <div class="project card">
    <div>
      <a class="card_main" href="#/projects/1">
        <div class="card_header">
          <h2>OremiaMobile</h2>
          <p>par
            <!-- ngIf: !model.can_view_company --><span>robin delaporte</span>
            <!-- end ngIf: !model.can_view_company -->
          </p>
        </div>

        <div class="card_body"></div>

        <div class="card_footer">
          <div class="card_footer_inner">
            <span class="item_label" style="background-color: rgb(64, 150, 219);"><span  class="contrast_light">OREMIA MOBILE</span></span>
            <p>Actif <span>il y a un jour</span></p>
          </div>
        </div>
      </a>
    </div>
    <!-- end ngIf: mode == 'grid' -->
  </div>
</div>
<!-- row end -->
<!-- /.content -->
<script src="js/demo.js"></script>
