<div class="slim_form narrow page ng-scope" id="discussion_form" page-title="New Discussion" main-section="projects">
  <div class="page_inner">
    <div id="back_button" class="page_block" title="Discussions" url="projects/1/discussions">
      <div class="page_block_inner">
        <a href="#/projects/1/discussion" class="small button">↩ Discussions</a>
      </div>
    </div>
    <form method="post" name="discussion_form" class="ng-pristine ang_form ng-invalid ng-invalid-required ng-valid-maxlength" novalidate="true">
      <div class="page_main">
        <div class="page_main_inner">
          <div class="form_block with_background">
            <div discussion="discussion" project="project" class="ng-valid">
              <div class="form_section name_description">
                <div class="form_field name form_field_validation" form-field="name">
                  <input type="text" name="name" ng-model="ngModel.name" focus-on="true" placeholder="Nom de la discussion" required="" autocomplete="off" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" style="">
                  <div class="form_field_validation_message">Required</div>
                </div>
                <div class="form_field editor">
                  <div class="visual_editor_tinymce_wrapper ng-valid ng-pristine" placeholder="Sujet de la discussion">
                    <div class="visual_editor_tinymce_toggler">A</div>
                    <div id="tinymce_0olm5r9r69bjra4i_toolbar" class="visual_editor_tinymce_toolbar visual_editor_tinymce_toolbar_hidden">
                      <div id="mceu_44" class="mce-tinymce mce-tinymce-inline mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="border-width: 1px; left: 0px; top: 0px; width: 357px; height: 30px;">
                        <div id="mceu_44-body" class="mce-container-body mce-abs-layout" style="width: 357px; height: 30px;">
                          <div id="mceu_44-absend" class="mce-abs-end"></div>
                          <div id="mceu_45" class="mce-toolbar-grp mce-container mce-panel mce-abs-layout-item mce-first mce-last" hidefocus="1" tabindex="-1" role="group" style="left: 0px; top: 0px; width: 357px; height: 30px;">
                            <div id="mceu_45-body" class="mce-container-body mce-stack-layout" style="width: 357px; height: 30px;">
                              <div id="mceu_46" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                                <div id="mceu_46-body" class="mce-container-body mce-flow-layout">
                                  <div id="mceu_47" class="mce-container mce-flow-layout-item mce-first mce-btn-group" role="group">
                                    <div id="mceu_47-body">
                                      <div id="mceu_34" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_34" role="button" aria-label="Bold" title="Bold">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button>
                                      </div>
                                      <div id="mceu_35" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_35" role="button" aria-label="Italic" title="Italic">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button>
                                      </div>
                                      <div id="mceu_36" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_36" role="button" aria-label="Underline" title="Underline">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-underline"></i></button>
                                      </div>
                                      <div id="mceu_37" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_37" role="button" aria-label="Strikethrough" title="Strikethrough">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-strikethrough"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="mceu_48" class="mce-container mce-flow-layout-item mce-btn-group" role="group">
                                    <div id="mceu_48-body">
                                      <div id="mceu_38" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_38" role="button" aria-label="Bullet list" title="Bullet list">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button>
                                      </div>
                                      <div id="mceu_39" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_39" role="button" aria-label="Numbered list" title="Numbered list">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-numlist"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="mceu_49" class="mce-container mce-flow-layout-item mce-btn-group" role="group">
                                    <div id="mceu_49-body">
                                      <div id="mceu_40" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_40" role="button" aria-label="Insert image" title="Insert image">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-image"></i></button>
                                      </div>
                                      <div id="mceu_41" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_41" role="button" aria-label="Insert/edit link" title="Insert/edit link">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="mceu_50" class="mce-container mce-flow-layout-item mce-last mce-btn-group" role="group">
                                    <div id="mceu_50-body">
                                      <div id="mceu_42" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_42" role="button" aria-label="Insert code" title="Insert code">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-code"></i></button>
                                      </div>
                                      <div id="mceu_43" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_43" role="button" aria-label="Quote" title="Quote">
                                        <button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-quote"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tinymce_0olm5r9r69bjra4i" class="a51 visual_editor_tinymce mce-content-body mce-edit-focus" contenteditable="true" dir="ltr" style="position: relative;"></div>
                    <input type="hidden" name="tinymce_0olm5r9r69bjra4i" value="">
                  </div>
                </div>
              </div>
              <div class="form_section ang_drop_files" style="position: relative;">
                <div class="form_field">
                  <div class="select_attachments ng-valid" attachments="discussion.attachments">
                    <span class="ang_upload_wrapper"><div class="select_attachments_control select_attachments_control_empty">
        <span class="select_attachments_title">Pièces jointes</span>
                    <a href="" class="select_attachments_trigger">Fichiers</a>
                  </div>
                  <input type="file" class="ang_upload" value="" accept="" multiple="multiple">
                  </span>
                </div>
              </div>
              <div class="ang_drop_files_placeholder">
                <div class="ang_drop_files_message"><span class="icon icon_upload_black size_24"></span>Drop here to Upload</div>
              </div>
            </div>
            <div class="form_section discussion_subscribers">
              <div class="form_field">
                <div class="select_subscribers ng-valid" object="discussion">
                  <div class="select_subscribers_header">
                    <span class="select_subscribers_title">Acteurs</span>
                    <span class="select_subscribers_trigger"><a href="">Choisir</a></span>
                    <span class="select_subscribers_list">robin-delaporte</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_section">
              <div class="form_field">
                <label>
                  <input type="checkbox" name="visibility" class="ng-pristine ng-untouched ng-valid">Cacher cette discussion des clients</label>
              </div>
            </div>
          </div>

          <div class="form_section">
            <div class="form_buttons">
              <button class="default small submit_button" type="submit">Ouvrir la discussion<span class="loader"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div></span><span class="uploading_label">Uploading...</span></button>
              <a class="small" type="button" href="#/projects/1/discussion">Annuler</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </form>
</div>
</div>
