<h2>
<span>Tickets en cours</span>
</h2>
<div class="col-md-12">
  <section class="panel tasks-widget">

    <div class="panel-body">

      <div class="task-content">

        <ul class="task-list">
          <li class="task-done">
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" checked/>
              <!-- <input type="checkbox" class="square-grey"/> -->
            </div>
            <div class="task-title">
              <span class="task-title-sp">Faire des bisous à Simon</span>
              <span class="label label-success">2 jours</span>
              <div class="pull-right hidden-phone">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>
          <li class="">
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" />
            </div>
            <div class="task-title">
              <span class="task-title-sp">Finir le projet d'IHM</span>
              <span class="label label-danger">Fini</span>
              <div class="pull-right hidden-phone">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" />
            </div>
            <div class="task-title">
              <span class="task-title-sp">Se documenter sur Symfony 2</span>
              <span class="label label-warning">Cours</span>
              <div class="pull-right hidden-phone">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" />
            </div>
            <div class="task-title">
              <span class="task-title-sp">Faire un beau rapport</span>
              <span class="label label-primary">3 jours</span>
              <div class="pull-right hidden-phone">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" />
            </div>
            <div class="task-title">
              <span class="task-title-sp">Réviser la cinématique des fichiers</span>
              <span class="label label-inverse">Mtn</span>
              <div class="pull-right">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="task-checkbox">
              <!-- <input type="checkbox" class="list-child" value=""  /> -->
              <input type="checkbox" class="flat-grey" />
            </div>
            <div class="task-title">
              <span class="task-title-sp">Avoir 20/20 dans toute les matières</span>
              <span class="label label-success">2 Jours</span>
              <div class="pull-right hidden-phone">
                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </li>


        </ul>
      </div>


    </div>
  </section>
</div>
<script src="bundles/app/js/todotask.js"></script>
