<div class="page_card page list_mode ng-scope" id="project_activity_view" page-title="Tasks - OremiaMobile" main-section="projects" sub-section="tasks" page-object="project">
  <div class="page_inner">
    <div id="back_button" class="page_block" url="projects" title="Projects">
      <div class="page_block_inner">
        <a href="#/index" class="small button" translate="btnRetourProjets">↩ Projets</a>
      </div>
    </div>

    <div class="project_header" project="project" current-tab="tasks">
      <div class="page_block page_header">
        <div class="page_block_inner page_header_inner">
          <ul class="page_header_actions button_group" ng-if="ischef">
            <li>
              <span class="small people_dropdown can_manage dropdown_button dropdown_button position_bottom">
                <a href="#/project/{{idproj}}/team"> </a><button id="_button" type="button"><a href="#/project/{{idproj}}/team"><span class="name"><span translate="btnCoollab">Cool-laborateurs</span> ({{projet.iddev.length}})</span></a>
              </button>
              </span>
            </li>
            <li>
              <span class="small project_details dropdown_button position_bottom" button-title="Project Info">
                <a href="#/projets/ajouter"> </a><button id="_button" type="button"><a href="#/projets/ajouter"><span class="name" translate="btnInfo">Info du projet</span></a>
              </button>

              </span>
            </li>

          </ul>

          <h1>{{projet.nom}}</h1>
        </div>
      </div>

      <div class="page_tabs page_block">
        <div class="page_tabs_inner page_block_inner">

          <div id="project_top_bar">
            <ul class="page_tabs_tabs">
              <li >
                <a class="page_sidebar_menu_item page_tab_icon_tasks" ng-href="#/projects/{{id}}"  translate="labelTabTicket">Tickets</a>
              </li>
              <li >
                <a class="page_sidebar_menu_item page_tab_icon_discussions" ng-href="#/projects/{{id}}/discussion" href="#/projects/1/discussion"translate="labelTabDiscussion">Discussions</a>
              </li>
              <li class="selected">
                <a class="page_sidebar_menu_item page_tab_icon_activity" ng-href="#/projects/{{id}}/activite" href="#/projects/1/activite" translate="labelTabActivite">Activité</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="page_main">
      <div class="page_main_inner">
        <div id="back_button" class="page_block" url="projects" title="Projects">
          <div class="page_block_inner">
            <a href="./app_dev.php/rss" class="small button" translate="btnFluxRss">Accéder au flux rss</a>
          </div>
        </div>
        <div class="single_project activity" projects="projects">
          <div class="activity_group" ng-repeat="rs in rss">
            <div class="activity_group_label">{{rs.date}}</div>
            <div class="activity_subgroup even" >
              <a class="activity_subgroup_label" ng-href="projects/1" href="projects/1">OremiaMobile</a>
              <table>
                <tbody>
                  <tr class="object_reopened Task" ng-repeat="act in rs.flux">
                    <td class="col_time">{{act.pubdate}}</td>
                    <td class="col_avatar">
                      <a href="users/1" class="user user_with_avatar">
                        <span class="user_avatar"><img ng-src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344" src="https://app.activecollab.com/118937/proxy.php?proxy=avatar&amp;module=system&amp;v=5.6.1&amp;b=DEV&amp;user_id=1&amp;size=40&amp;timestamp=1454629344"></span>
                      </a>
                    </td>
                    <td class="col_details">
                      <div class="activity_log_main" object-modal="Task-2-1">{{act.description}} <a href="#/projects/{{id}}" title="test">{{act.idproj.nom}}</a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
