<section class="panel col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
  <header class="panel-heading">
    Se connecter
  </header>
  <div class="panel-body">
    <p ng-show="error"><strong>{{ error }} : Surement un problème du style l'adresse mail déjà rentrée ou un nom d'utilisateur incorrect</strong></p>
    <p ng-show="success"><strong>{{ success }} : Tu as été correctement ajouté, tu peux maintenant te connecter</strong></p>
    <div id="back_button" ng-show="success" class="page_block ng-scope" title="Projects" url="projects" ng-if="!project.id">
      <div class="page_block_inner">
        <a href="#/login" class="small button">↩ Se connecter</a>
      </div>
    </div>
    <form class="form-horizontal ng-pristine ng-valid" ng-submit="validForm()" role="form">
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nom </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail1" ng-model="user.nom" placeholder="nom d'utilisateur">
          <p class="help-block">Entrez votre nom pour vous enregistrer.</p>
        </div>
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Prenom</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail1" ng-model="user.prenom" placeholder="nom d'utilisateur">
            <p class="help-block">Entrez votre prénom pour vous enregistrer.</p>

          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nom d'utilisateur</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail1" ng-model="user.username" placeholder="nom d'utilisateur">
          <p class="help-block">Entrez votre nom utilisateur pour vous enregistrer.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">E mail</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail1" ng-model="user.email" placeholder="lalala@lala.la">
          <p class="help-block">Entrez votre e-mail pour vous enregistrer.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">mot de passe</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" ng-model="user.password" id="inputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button class="btn btn-default" type="submit" value="login">Valider</button>
        </div>
      </div>
    </form>

  </div>
</section>
